<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/assets/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/main.css">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/assets/responsive.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>

  <style type="text/css">
    @font-face {
        font-family: 'AppleColorEmoji';
        src: url('/assets/AppleColorEmoji.ttf') format('truetype');
    }
  </style>

</head>
<body>
  <header>    
    <div class="topnav">
      <a {% if page.url == "/" %} class="active" {% endif %} href="{% tl home %}">{% t pages.home %}</a>
      <a {% if page.url == "/about/" %} class="active" {% endif %} href="{% tl about %}">{% t pages.about %}</a>
      <a {% if page.url == "/grammar/" %} class="active" {% endif %} href="{% tl grammar %}">{% t pages.grammar %}</a>
      <a {% if page.url == "/examples/" %} class="active" {% endif %} href="{% tl examples %}">{% t pages.examples %}</a>
      <a {% if page.url == "/publications/" %} class="active" {% endif %} href="{% tl publications %}">{% t pages.publications %}</a>
      <a {% if page.url == "/media/" %} class="active" {% endif %} href="{% tl media %}">{% t pages.media %}</a>
      <a {% if page.url == "/contacts/" %} class="active" {% endif %} href="{% tl contacts %}">{% t pages.contacts %}</a>
      <div class="topnav-right">
        <!-- Adds links to other languages on the post -->
        {% for lang in site.languages %}
          {% unless site.lang == lang %}
            {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
              <a href="{{ site.baseurl_root }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
            {% else %}
              <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
            {% endif %}
            
            {% assign next = forloop.index | plus: 1 %}
            
            {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
              <span class="separator"> &bull; </span>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>    
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.title | date: "%Y" }}</p>
  </footer>
</body>
</html>
